<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt qui ipsam dolorem, aliquid quia
                    corrupti
                    eum
                    quidem aspernatur ex quaerat commodi itaque voluptates doloribus fugiat veniam voluptate? Tempore,
                    culpa
                    a.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt qui ipsam dolorem, aliquid quia
                    corrupti
                    eum
                    quidem aspernatur ex quaerat commodi itaque voluptates doloribus fugiat veniam voluptate? Tempore,
                    culpa
                    a.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt qui ipsam dolorem, aliquid quia
                    corrupti
                    eum
                    quidem aspernatur ex quaerat commodi itaque voluptates doloribus fugiat veniam voluptate? Tempore,
                    culpa
                    a.
                </p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>